@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: #212529;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 70vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.box{
    height: 18vmin;
    width: 18vmin;
    background-color: #adb5bd;
    border-radius: 8px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    font-size: 8vmin;
    font-weight: 800;
    color: #343a40;
}
.msgContainer button , #resetGame{
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 900;
    border-radius: 30px;
    border: none;
    background-color: #adb5bd;
    color: #343a40;
}

.msgContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all ease-out 0.10s;
    color: #f4f3ee;
    gap: 30px;
    font-size: 50px;
}

.hide{
    display: none;
}
h1{
    margin-top: 20px;
    font-family: 'Creepster', system-ui;
    font: 900;
    font-size: 4.5rem;
    color: #f4f3ee;
}

